<div class="container rms-page-container">
    <div class="rms-box-container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header"></i>&nbsp CREATE NOTE</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissable rms-alert-danger" role="alert" ng-show="error">
                    <strong>Error : </strong>
                    <span>{{error}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissable rms-alert-success" role="alert" ng-show="flash">
                    <strong>Success : </strong>
                    <span>{{flash}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <form class="rms-form">
                    <div class="form-group">
                        <label>Text</label>
                        <input type="text" class="rms-input" ng-model="note.text" placeholder="text">
                    </div>
                    <button class="btn rms-btn-primary pull-right" ng-click="create_note()"></i>CREATE</button>
                </form>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header"></i>&nbsp NOTE DATA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Text</th>
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="note in notes">
                            <td>{{note.date | date:'medium'}}</td>
                            <td>{{note.text}}</td>
                            <td><button class="btn rms-btn-danger" ng-click="delete_note(note._id)">DELETE</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

