<div class="container rms-page-container">
    <div class="rms-box-container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header"></i>&nbsp CREATE PRODUCT</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissable rms-alert-danger" role="alert" ng-show="error">
                    <strong>Error : </strong>
                    <span>{{error}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissable rms-alert-success" role="alert" ng-show="flash">
                    <strong>Success : </strong>
                    <span>{{flash}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <form class="rms-form">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="rms-input" ng-model="product.name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="rms-input" ng-model="product.code" placeholder="code">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="rms-input" ng-model="product.price" placeholder="price">
                    </div>
                    <button class="btn rms-btn-primary pull-right" ng-click="create_product()"></i>CREATE</button>
                </form>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header"></i>&nbsp PRODUCT DATA</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="prod in products">
                            <td>{{prod.name}}</td>
                            <td>{{prod.code}}</td>
                            <td>{{prod.price}}</td>
                            <td><button class="btn rms-btn-default" ng-click="open_edit_modal(prod._id)">EDIT</button></td>
                            <td><button class="btn rms-btn-danger" ng-click="delete_product(prod._id)">DELETE</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

